 .container{
   
     padding: 10px;
     /* border: 2px solid black; */

 }
 .container-fluid{
     border: 3px solid rgb(240, 15, 15);
     /* padding: 10px; */
 }
 .col{
     background-color: rgb(97, 158, 102);
     border: 3px solid rgb(194, 25, 25);
     
 }
 .col-5{
    background-color: rgb(213, 213, 221);
    /* border: 3px solid rgb(194, 25, 25); */
}

.col-7{
    background-color: rgb(213, 213, 221);
    border: 3px solid rgb(194, 25, 25);
   /*  */
}

.form{
    border: 4px solid black;
    padding: 20px;
}
.car{
    margin-left: 50%;
}
